

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items:center ;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, rgb(218, 219, 204) 0%, rgb(241, 230, 192) 100%);
}
.Chronomètre{
    background-color: white;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 10px;
}
.tin span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}
.controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
button{
    background-color:rgb(158, 158, 151);
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 31%;
    border: 0;
    letter-spacing: 1px;

}
button:hover{
    transform: scale(0.9);
}